img{
    width: 250px;
 
}
.Card{

    margin: 20px;
    padding: 10px;


}
.title{
    font-size: 16px;
    font-weight: 700;
}
.price{
font-weight: 700;
}
.add{
    padding: 5px;
    width: 200px;
   font-size: 12px;
   margin: 10px;
}


.buynow{
    margin: 10px;
    width: 200px;
    padding: 5px; 
    font-size: 12px;
   
}
button:hover{
    background-color: rgb(59, 59, 59);

}

.Category{
    color: rgb(97, 96, 96);
    text-transform:capitalize;
   
}
button{
    background-color: #111;
    color: white;
    padding: 15px;
    border-radius: 50px;
}